<!-- <app-home></app-home>> -->



<!-- <main class="main"> -->
    <app-navbar  ></app-navbar>
    <!-- sidebar  -->
    
 <app-asidemenu [ngStyle]="{'display': flag ? 'none' : 'block'}" ></app-asidemenu>
    <!-- sidebar  -->
  <div style="visibility:hidden;">Lorem ipsum dolor sit amet consectetur adipisicing elit. At distinctio cumque, officiis ullam sed consequatur recusandae nihil ut minus porro, unde nemo! A minima odit dolore exercitationem corporis ipsum omnis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nostrum, possimus illo, dolor et soluta placeat beatae accusantium quis at doloremque animi amet qui facilis? Beatae perspiciatis laborum doloremque impedit eveniet vero tempora nostrum labore consectetur facilis! Debitis exercitationem dolore quod enim molestiae sit autem, fugiat impedit ipsa ex quisquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora placeat praesentium odit. Illo aliquam est molestiae, doloribus atque labore exercitationem!

  </div>
    <!-- <app-login></app-login>
    <app-register></app-register> -->
  <!-- </main> -->
   
  
  
  <router-outlet></router-outlet>
  <!-- In your main template or routing configuration -->
  