<div class="formbold-main-wrapper " style="margin-left: 430px;">
   
    <div class="formbold-form-wrapper">
      <form  #myformval="ngForm"  (ngSubmit)="getData(myformval.value)">
          <div class="formbold-input-flex">
            <div>
                <label for="Userid" class="formbold-form-label"> Userid </label>
                <input
                type="text"
                name="Userid"
                id="Userid"
                placeholder="userId"
                class="formbold-form-input"
                ngModel
                />
            </div>
            <div>
                <label for="amount" class="formbold-form-label"> amount </label>
                <input
                type="text"
                name="amount"
                id="amount"
                placeholder="amount"
                class="formbold-form-input"
                ngModel
                />
            </div>
            <div>
                <label for="transaction_date" class="formbold-form-label"> transaction_date </label>
                <input
                type="date"
                name="transaction_date"
                id="transaction_date"
                placeholder="transaction_date"
                class="formbold-form-input"
                ngModel
                />
            </div>
          </div>
  
          <div class="formbold-input-flex">
            <div>
                <label for="email" class="formbold-form-label"> Mail </label>
                <input
                type="email"
                name="email"
                id="email"
                placeholder="jhon@mail.com"
                class="formbold-form-input"
                ngModel
                />
            </div>
           
            <div>
              <select name="transaction_type" id="" style="width: 100%; padding: 12px;margin-top: 35px;border-color: rgba(228, 201, 201, 0.664) " ngModel>
                <option selected value="">Payment Method</option>
                <option value="UPI">UPI</option>
                <option value="Bank">Bank</option>
                <option value="Cash">Cash</option>
              </select>           
            </div>

            <div>
                <label for="phone" class="formbold-form-label"> home </label>
                <input
                type="number"
                name="phone"
                id="phone"
                placeholder="(319) 555-0115"
                class="formbold-form-input"
                ngModel
                />
            </div>
          </div>
  
         
  
          <div>
              <label for="Remarks" class="formbold-form-label"> Transaction Proof</label>
          <input
          type="file"
          accept="image/*"
          id="drugLicenseImage"
          #drugLicenseImage
          (change)="onDrugLicenseImageChange($event)"
          capture
          ngModel
        />

        <img
        *ngIf="drugLicenseImagesChosen > 0"
        [src]="'data:image/png;base64,' + drugLicenseEncodedImage"

        width="40%"
      />
          </div>
          <div>
              <label for="Remarks" class="formbold-form-label"> Remarks </label>
              <textarea
                  rows="6"
                  name="Remarks"
                  id="Remarks"
                  placeholder="Type your Remarks"
                  class="formbold-form-input"
                  ngModel
              ></textarea>
          </div>
  
          <button class="formbold-btn" type="submit">
              Send Message
          </button>
      </form>
    </div>
    <div class="formbold-form-wrapper">
      <img src="/assets/Images/MyQR.jpg" width="80%" alt="">
    </div>
  </div>
